<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>
    <script src="https://cdn.socket.io/socket.io-4.0.0.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            socket.on('connect', function() {
                socket.send('User has connected!');
            });

            socket.on('response', function(msg) {
                document.getElementById('response').innerHTML += '<br>' + msg.data;
            });

            document.getElementById('sendButton').onclick = function() {
                var text = document.getElementById('textInput').value;
                socket.send(text);
                document.getElementById('textInput').value = '';
            };
        });
    </script>
</head>
<body>
    <h1>WebSocket Test</h1>
    <input type="text" id="textInput" placeholder="Type your message here...">
    <button id="sendButton">Send</button>
    <div id="response"></div>
</body>
</html>
